@{ViewData["HeaderTitle"] = "Bienvenue chez TP HN";}

@section Menu {
    <ul>
        <li><a href="/Home/Index">Acceuil</a></li>
        <li><a href="/Home/Index/OpinionList">Liste avis</a></li>
    </ul>
}

@model TPLOCAL1.Models.FormModel
<section>
<form asp-action="ValidationFormulaire" method="post">
    <table border="1">

        <tr>
            <th colspan="2">Informations personnelles</th>
        </tr>

        <tr>
            <td>Nom</td>
            <td><input asp-for="Nom"/></td>
                <td><span asp-validation-for="Nom" style="color:red; background-color:yellow"></span></td>
        </tr>

        <tr>
            <td>Prénom</td>
            <td><input asp-for="Prenom"/></td>
                <td><span asp-validation-for="Prenom" style="color:red; background-color:yellow"></span></td>
        </tr>

        <tr>
            <td>Genre</td>
            <td>
                <select name="Genre">
                    <option value="">Sélectionner</option>
                    <option>Homme</option>
                    <option>Femme</option>
                    <option>Autre</option>
                </select>
            </td>
            <td><span asp-validation-for="Genre" style="color:red; background-color:yellow"></span></td>
        </tr>

        <tr>
            <td>Adresse</td>
                <td><input asp-for="Adresse" /></td>
                <td><span asp-validation-for="Adresse" style="color:red; background-color:yellow"></span></td>
        </tr>

        <tr>
            <td>Code postal</td>
                <td><input asp-for="CodePostal" /></td>
                <td><span asp-validation-for="CodePostal" style="color:red; background-color:yellow"></span></td>
        </tr>

        <tr>
            <td>Ville</td>
                <td><input asp-for="Ville" /></td>
                <td><span asp-validation-for="Ville" style="color:red; background-color:yellow"></span></td>
        </tr>

        <tr>
            <td>Email</td>
                <td><input asp-for="Email" /></td>
                <td><span asp-validation-for="Email" style="color:red;background-color:yellow"></span></td>
        </tr>

    </table>

    <br />

    <table border="1">

        <tr>
            <th colspan="2">Informations formation</th>
        </tr>

        <tr>
            <td>Date début</td>
                <td><input asp-for="DateFormation" /></td>
                <td><span asp-validation-for="DateFormation" style="color:red;background-color:yellow"></span></td>
        </tr>

        <tr>
            <td>Type formation</td>
            <td>
                <select name="TypeFormation">
                    <option>Sélectionner</option>
                    <option>Cobol</option>
                    <option>Objet</option>
                    <option>Double compétence</option>
                </select>
            </td>
        </tr>

    </table>

    <br />

    <table border="1">

        <tr>
            <th colspan="2">Avis formation</th>
        </tr>

        <tr>
            <td>Cobol</td>
                <td><input asp-for="AvisCobol" /></td>
        </tr>

        <tr>
            <td>C#</td>
                <td><input asp-for="AvisCSharp" /></td>
        </tr>

    </table>

    <br />

    <input type="submit" value="Valider" />

</form>

</section>

