@{
    ViewData["HeaderTitle"] = "Bienvenue dans le TP HN";
}

@section Menu {
    <ul> 
        <li><a href="/Home/Index/Form">Formulaire</a></li>
        <li><a href="/Home/Index/OpinionList">Liste avis</a></li>
    </ul>
}
<p>
        <a href="/Home/Index/Form">Remplissez le formulaire </a>
</p>