

@{ViewData["HeaderTitle"] = "Liste des avis";}
@section Menu {
    <ul>
        <li><a href="/Home/Index">Acceuil</a></li>
        <li><a href="/Home/Index/Form">Formulaire</a></li>
    </ul>
}
@model List<TPLOCAL1.Models.Opinion>

@if (Model == null || Model.Count ==0)
        {
            <p>Aucun avis disponible</p>
        }
else {
<table border="1">
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Avis</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.LastName</td>
            <td>@item.FirstName</td>
            <td style="background-color:@(item.OpinionGiven == "O" ? "green" : "red")">
                @(item.OpinionGiven == "O" ? "Oui" : "Non")
            </td>
        </tr>
    }
</table>
}



